//*--------------------------------FOOTER---------------------------*//

.seccion-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 100px;
    flex-wrap: wrap;

    div {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin-top: 15px;
        margin-left: 50px;
        flex-wrap: wrap;

        h2 {
            text-decoration: underline;
            font-size: 30px;
            font-weight: 850;
            color: $color-principal;
        }

        a {
            color: $color-principal;
            font-size: 18px;
            font-weight: 800;
        }

        p {
            font-size: 18px;
            font-weight: 800;
            color: $color-principal;
        }
    }

    a {
        .logo-desplazable {
            position: fixed;
            bottom: 0;
            right: 10px;
            width: 70px;
            height: 70px;
        }
    }
}