//*--------------------------------------Index-------------------------------------------------*//

.index-div-main {
    height: 200px;
    padding-top: 20px;

    h2 {
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
        font-weight: 800;
        margin: 20px;
        color: $color-principal;
    }

    p {
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 30px;
        color: $color-principal;
    }
}

.d-block {
    width: 600px;
    height: 600px;
}

.carousel-fade {
    margin-bottom: 50px;
    margin-top: 50px;
}

.index-seccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 400px);
    row-gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 20px;

    .div-seccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 15px;
        margin-right: 15px;
        flex-wrap: wrap;

        h3 {
            font-size: 25px;
            font-weight: 800;
            text-decoration: underline;
            color: $color-principal;
        }

        p {
            font-size: 18px;
            font-weight: 600;
            color: $color-principal;
        }

        .boton {
            color: $color-principal;
            text-align: center;
            font-size: 30px;
            font-weight: 800;
            transition: 1s;

            &:hover {
                background-color: $color-secundario;
                color: $color-principal;
            }
        }
    }


    .index-img-1 {
        width: 100%;
        height: 100%;
    }

    .index-img-2 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .index-img-3 {
        width: 100%;
        height: 100%;
    }
}


//* ----------------------------------------Recetas------------------------------------------- *//

.seccion-recetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 450px);
    flex-wrap: wrap;
    place-items: center;
    row-gap: 60px;

    .recetas-1 {
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        h3 {
            font-size: 35px;
            font-weight: 800;
            text-decoration: underline;
            color: $color-principal;
        }
    }

    .recetas-2 {
        grid-row: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        h3 {
            font-size: 35px;
            font-weight: 800;
            text-decoration: underline;
            color: $color-principal;
        }
    }

    .recetas-3 {
        grid-row: 3/4;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        h3 {
            font-size: 35px;
            font-weight: 800;
            text-decoration: underline;
            color: $color-principal;
        }
    }

    .recetas-4 {
        grid-row: 4/5;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        h3 {
            font-size: 35px;
            font-weight: 800;
            text-decoration: underline;
            color: $color-principal;
        }
    }

    .recetas-5 {
        grid-row: 5/6;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        h3 {
            font-size: 35px;
            font-weight: 800;
            text-decoration: underline;
            color: $color-principal;
        }
    }

    .recetas-6 {
        grid-row: 6/7;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        h3 {
            font-size: 35px;
            font-weight: 800;
            text-decoration: underline;
            color: $color-principal;
        }
    }

    .recetas-7 {
        grid-row: 7/8;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        h3 {
            font-size: 35px;
            font-weight: 800;
            text-decoration: underline;
            color: $color-principal;
        }
    }

    img {
        grid-column: 2/3;
        width: 250px;
        height: 250px;
        object-fit: cover;
        transition: 2s;

        &:hover {
            transform: scale(1.1);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.62);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.62);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.62);
        }
    }

    .ingredientes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        h4 {
            font-size: 25px;
            font-weight: 700;
            text-decoration: underline;
            color: $color-principal;
            margin-bottom: 15px;
        }

        ol {
            li {
                font-size: 19px;
                font-weight: 700;
                margin-bottom: 10px;
                color: $color-principal;
            }
        }
    }
}


.recetas-subtitulo {
    h2 {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 30px;
        font-weight: 800;
        text-decoration: underline;
        color: $color-principal;
    }

    p {
        text-align: center;
        margin: 20px;
        font-size: 20px;
        font-weight: 800;
        color: $color-principal;
        margin-bottom: 60px;
    }
}




//* ---------------------------------------Productos----------------------------------------- *//


.div-productos {
    h2 {
        color: $color-principal;
        font-size: 30px;
        font-weight: 800;
        text-align: center;
        text-decoration: underline;
        padding-top: 20px;
    }
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 400px);
    row-gap: 30px;
    column-gap: 10px;
    margin-top: 30px;
    padding-bottom: 20px;

    .t-productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid $color-principal;
        border-radius: 40px 40px 40px 40px;
        margin: 0px 20px 0px 20px;
        transition: 1s;

        img {
            height: 200px;
            width: 200px;
        }

        h3 {
            color: $color-principal;
            font-size: 23px;
            font-weight: 800;
        }

        p {
            color: $color-principal;
            font-size: 19px;
            font-weight: 800;
        }

        input {
            color: $color-principal;
            font-size: 20px;
            font-weight: 800;
        }

        &:hover {
            transform: scale(1.1);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.62);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.62);
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.62);
        }
    }
}



//* ----------------------------------------Nosotros----------------------------------------- *//


.titulo-nosotros {
    h2 {
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
        font-weight: 800;
        padding-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        color: $color-principal;
    }
}

.nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 900px);

    .nosotros-trayecto {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        h3 {
            font-size: 27px;
            font-weight: 700;
            color: $color-principal;
            text-decoration: underline;
            margin-top: 30px;
        }

        p {
            font-size: 18px;
            font-weight: 600;
            color: $color-principal;
            padding: 20px 20px 0px 20px;
        }
    }

    .nosotros-div {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        img {
            width: 270px;
            height: 200px;
        }

        h3 {
            font-size: 27px;
            font-weight: 700;
            color: $color-principal;
            text-decoration: underline;
            padding-left: 20px;
        }
    }

    .nosotros-div-1 {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        img {
            width: 270px;
            height: 200px;
        }

        h3 {
            font-size: 27px;
            font-weight: 700;
            color: $color-principal;
            text-decoration: underline;
        }
    }

    img {
        grid-column: 2/3;
        width: 80%;
        height: 90%;
        margin-left: 90px;
        margin-top: 40px;
    }
}



//* ----------------------------------------Contacto----------------------------------------- *//

.titulo-contacto {
    h2 {
        text-align: center;
        font-size: 30px;
        font-weight: 800;
        padding-top: 15px;
        margin-bottom: 20px;
        text-decoration: underline;
        color: $color-principal;
    }
}

.contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 800px;
    flex-wrap: wrap;
    gap: 30px;

    .div-contacto {
        grid-column: 1/2;
        margin: 40px 0px 0px 40px;

        a {
            margin-left: 20px;
            color: $color-principal;
            font-size: 20px;
            font-weight: 800;
        }

        img {
            width: 60px;
            height: 60px;
        }
    }

    form {
        grid-column: 1/4;
        margin: 60px 0px 0px 40px;

        .form-div {
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 700;

            .form-label {
                color: $color-principal;
            }

            .form-check {
                color: $color-principal;
            }
        }
    }

    .imagen-contacto {
        grid-column: 2/3;
        grid-row: 5/2;
        height: 100%;
        width: 80%;
        margin-left: 40px;
    }
}